body {
    background-color: #310f1e;
    color: white;
    font-size: 18px;
    padding-left: 50px;
}


table{
    background-color: #002905;
    color: black;
    text-align: center;
    width: 700px;
}


.admin-table > tbody> tr:first-child{
    background-color: #aa0505 !important;
    color: white;
}

table, th, td {
    border: 1px solid black;
}



th {
    height: 50px;

}


tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #63ff4e;}

tr:first-child{
    background-color: #046300;
    color: white;
}

input[value='delete']{
    background-color: red;
    color: white;
}

input[value='update']{
    background-color: #fdff00;
    color: #000000;
}

.special-row{
    background-color: #fdff00 !important;
    color: black !important;
}

.alert{
    color: red;
}

.admin-panel{
    width: auto;
    height: 100px;
    background-color: white;
    color: red;
    border: solid red 2px;
}

.form-container{
    display: inline-block;
    width: 30%;
    background-color: #14050e;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
