body {
    background-color: #310f1e;
    color: white;
    font-size: 18px;
}


table{
    background-color: #002905;
    color: black;
    text-align: center;
}


table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th {
    height: 50px;
}


tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #63ff4e;}

tr:first-child{
    background-color: #046300;
    color: white;
}

input[value='delete']{
    background-color: red;
    color: white;
}

input[value='update']{
    background-color: #fdff00;
    color: #000000;
}
